<nav class="navbar navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand">WatchList</a>
    <form class="d-flex ">
      <%= link_to "My Lists", lists_path, class: "btn btn-outline-light" %>
      <%= link_to "New List", new_list_path, class: "btn btn-outline-light ms-3" %>
    </form>
  </div>
</nav>
